body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(90deg, rgba(0,255,226,1) 0%, rgba(147,142,232,1) 90%);
}

button {
  cursor: pointer;
}

